@use '../../global-styles/main' as gs;

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    @include gs.flex(none, center, center);

    &__portfolio-wrapper {
        position: absolute;
        top: 5rem;
        backdrop-filter: blur(0.5rem);
        box-shadow: 0 0 0.5rem gs.$main-color;
        padding: 2rem;
        border-radius: 0.75rem;
        width: 80vw;
        max-height: 80vh;
        animation: showPortfolio 1s ease-out;
        overflow: scroll;
        z-index: 1;

        @include gs.display(large) {
            margin: 0 2rem;
            width: 90vw;
        }

        @include gs.display(medium) {
            padding: 2rem 4rem;
        }

        @include gs.display(small) {
            padding: 2rem 1rem;
        }

        @media (max-height: 34rem) and (orientation: landscape) {
            top: 3.5rem;
            max-height: 75vh;
        }

        &__loading {
            @include gs.flex(none, center, center);
            height: 70vh;
            
            &>span {
                font-size: 2rem;
                font-weight: bold;
                margin-right: 0.25rem;
                animation: bounce 1.2s ease infinite;

                &:nth-child(2) {
                    animation-delay: 0.1s;
                }

                &:nth-child(3) {
                    animation-delay: 0.2s;
                }

                &:nth-child(4) {
                    animation-delay: 0.3s;
                }

                &:nth-child(5) {
                    animation-delay: 0.4s;
                }

                &:nth-child(6) {
                    animation-delay: 0.5s;
                }

                &:nth-child(7) {
                    animation-delay: 0.6s;
                }

                &:nth-child(8) {
                    animation-delay: 0.7s;
                }

                &:nth-child(9) {
                    animation-delay: 0.8s;
                }
            }
        }

        &>h3 {
            color: black;
            text-shadow: 0px 0px 2px gs.$main-color;
            text-align: center;
            margin: 1rem 0 2rem 0;
            animation: opacityShow 2s ease;
        }

        &>p {
            text-align: center;
            margin-bottom: 3rem;
            padding: 0 1rem;
            font-family: monospace;
            animation: opacityShow 2s ease;
        }

        &__projects {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 1rem;
            animation: opacityShow 2s ease;

            @include gs.display(medium) {
                flex-wrap: unset;
                flex-direction: column;
            }

            &__box {
                height: 90%;
                border-radius: 0.5rem;
                border: 0.25rem solid black;
                position: relative;
                transition: all 1s ease;

                &:nth-child(1),
                &:nth-child(4),
                &:nth-child(5) {
                    flex-basis: calc(57.666% - 0.75rem);
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(6) {
                    flex-basis: calc(42.333% - 0.75rem);
                }

                &:hover {
                    transform: scale(1.03);
                }

                &>img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 0.5rem;
                }

                &>video {
                    width: 100%;
                    height: 100%;
                }

                &__overlay {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    @include gs.flex(column, space-evenly, center);
                    background-color: rgba(128, 128, 128, 0.818);
                    text-shadow: 1px 1px 1px black;
                    opacity: 0;
                    transition: all 1.5s ease;

                    &:hover {
                        opacity: 1;
                    }

                    &>p {
                        text-align: center;
                        padding: 0.5rem;
                    }

                    &__buttons>a {
                        color: yellow;
                        background-color: gray;
                        border: 2px solid gs.$main-color;
                        border-radius: 1.5rem;
                        padding: 0 1rem;
                        box-shadow: 0 0 0.5rem white;
                        transition: all 1s ease;

                        &:first-of-type {
                            margin-right: 0.5rem;
                        }

                        &:hover {
                            color: green;
                            box-shadow: unset;
                        }
                    }
                }

                &>.hovered {
                    opacity: 1;
                }
            }
        }
    }
}

@keyframes showPortfolio {
    0% {
        opacity: 0;
        transform: translateY(110%);
        transition: 0.5s;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: 0.5s;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.625rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opacityShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}