@use '../../global-styles/main' as gs;

.wrapper {
    position: relative;

    &>div {
        width: 100%;
        height: 100vh;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include gs.display(large) {
                object-position: 75%;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        background: rgb(7, 5, 10);
        background: radial-gradient(circle, rgba(7, 5, 10, 0.22591043253238796) 3%, rgba(7, 5, 10, 0.6292717770702031) 37%, rgba(7, 5, 10, 0.8253502084427521) 73%);
    }

    &__title {
        position: absolute;
        top: 0;
        @include gs.flex(column, center, center);
        color: black;
        text-shadow: 0px 0px 2px gs.$main-color;

        @include gs.display(large) {
            justify-content: unset;
            padding-top: 15rem;
        }

        @include gs.display(small) {
            padding: 0 2rem;
            padding-top: 11rem;
        }

        @media (orientation: landscape) {
            justify-content: center;
            padding-top: unset;
        }

        &>div {
            &>span {
                font-size: 1.5rem;
                font-weight: bold;

                @include gs.display(small) {
                    font-size: 1.25rem;
                }

                @media (max-height: 30rem) and (orientation: landscape) {
                    font-size: 1.25rem;
                }
            }

            &>h1 {
                font-size: 3.75rem;

                @include gs.display(medium) {
                    font-size: 3rem;
                }

                @include gs.display(small) {
                    font-size: 2rem;
                }

                @media (max-height: 30rem) and (orientation: landscape){
                    font-size: 2rem;
                }
            }

            &>h2 {
                font-size: 3rem;

                @include gs.display(medium) {
                    font-size: 2rem;
                }

                @include gs.display(small) {
                    font-size: 1.75rem;
                }

                @media (max-height: 30rem) and (orientation: landscape){
                    font-size: 1.75rem;
                }
            }
        }
    }

    &__toast-message {
        position: absolute;
        top: 3rem;
        right: 3rem;
        width: 16rem !important;
        height: 6rem !important;
        border-radius: 0.5rem;
        padding: 1rem;
        @include gs.flex(none, center, center);
        gap: 1rem;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        z-index: 2;
        animation-name: showToastModal;
        animation-duration: 0.5s;

        &>svg {
            font-size: 1.5rem;
        }
    }
}

.success {
    border: 2px solid gs.$main-color;
    background-color: rgba(144, 238, 144, 0.311);
}

.warning {
    border: 2px solid yellow;
    background-color: rgba(255, 255, 0, 0.301);
    color: yellow;
}

@keyframes showToastModal {
    0% {
        opacity: 0;
        transform: translate(110%);
        transition: opacity 0.5s, transform 0.5s;
    }

    100% {
        opacity: 1;
        transform: translate(0);
        transition: opacity 0.5s, transform 0.5s;
    }
}