@use '../../global-styles/main' as gs;

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    @include gs.flex(none, center, center);

    &__tech-stack__wrapper {
        position: absolute;
        backdrop-filter: blur(0.5rem);
        box-shadow: 0 0 0.5rem gs.$main-color;
        padding: 4rem;
        border-radius: 0.75rem;
        max-height: 80vh;
        @include gs.flex(column, none, center);
        gap: 2rem;
        animation: showTechStack 1s ease-out;

        @include gs.display(large) {
            z-index: 3;
        }

        @include gs.display(small) {
            width: 85vw;
            padding: 1.5rem 1rem;
        }

        @media (max-height: 30rem) and (orientation: landscape) {
            margin: 0 2rem;
            padding: 2rem 1rem;
            overflow: scroll;
        }

        &>p {
            font-size: 1.25rem;
            font-weight: bold;
            letter-spacing: 2px;
            padding: 5rem;
        }

        &>h3 {
            color: black;
            text-shadow: 0px 0px 2px gs.$main-color;
        }

        &>img {
            animation: showImages 2s ease;
        }
    }
}

@keyframes showTechStack {
    0% {
        opacity: 0;
        transform: translate(-110%);
        transition: 0.5s;
    }

    100% {
        opacity: 1;
        transform: translate(0%);
        transition: 0.5s;
    }
}

@keyframes showImages {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}