@use './global-styles/main.scss' as gs;

header {
    position: absolute;
    z-index: 1;
    padding: 1rem 12rem;
    @include gs.flex(none, space-between, none);
    width: 100%;

    &>div>a {
        color: white;
        font-size: 1.5rem;

        &>svg:hover {
            color: gs.$main-color;
            transition: 1s;
            animation: icon-spin forwards 1s linear;
        }

        &:first-of-type {
            margin-right: 0.75rem;
        }
    }

    &>div>span {
        font-size: 0.9rem;
        display: inline-block;
        cursor: pointer;

        &:hover {
            color: gs.$main-color;
            transition: 1s;
            animation: zoom 0.5s both;
        }

        &:first-of-type {
            margin-right: 2rem;
        }
    }
}

aside {
    position: absolute;
    z-index: 1;
    height: 100vh;
    @include gs.flex(none, none, center);
    font-size: 0.9rem;

    &>span {
        padding: 0.5rem 0;
        cursor: pointer;

        &:hover {
            color: gs.$main-color;
            transition: 1s;
            animation: icon-spin forwards 1s linear;
        }
    }

    &:first-of-type {
        margin-left: 1rem;
    }

    &:last-of-type {
        right: 0;
        margin-right: 1rem;
    }
}

.wrapper {
    position: relative;

    &>div {
        width: 100%;
        height: 100vh;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        background: rgb(7, 5, 10);
        background: radial-gradient(circle, rgba(7, 5, 10, 0.22591043253238796) 3%, rgba(7, 5, 10, 0.6292717770702031) 37%, rgba(7, 5, 10, 0.8253502084427521) 73%);
    }

    &__title {
        position: absolute;
        top: 0;
        @include gs.flex(column, center, center);
        color: gs.$main-color;
        text-shadow: 1px 1px 4px white;

        &>div {
            &>span {
                font-size: 1.5rem;
                font-weight: bold;
            }

            &>h1 {
                font-size: 4rem;
            }

            &>h2 {
                font-size: 3rem;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include gs.flex(none, center, none);
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes icon-spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}