@use '../../global-styles/main' as gs;

.about-me__wrapper {
    position: absolute;
    top: 5rem;
    margin: 0 9rem;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 0.5rem white;
    padding: 4rem;
    border-radius: 0.75rem;
    max-height: 80vh;
    display: flex;
    gap: 2rem;
    animation: showContent 1s forwards;

    &__content {
        @include gs.flex(none, none, center);
        // width: 80%;
        overflow: scroll;
    }

    &__photos {
        @include gs.flex(column, space-evenly, center);
        // width: 20%;

        &>svg {
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                color: gs.$main-color;
                animation: zoom 0.5s both;
            }
        }

        &>div {
            width: 12rem;
            height: 12rem;

            &>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.5rem;
                box-shadow: 0 0 0.5rem white;

                &:hover {
                    animation: zoom 0.5s both;
                }
            }
        }
    }
}

@keyframes showContent {
    0% {
        opacity: 0;
        transform: translateY(110%);
        transition: 0.5s;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: 0.5s;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}