@use '../../global-styles/main' as gs;

.about-me__wrapper {
    position: absolute;
    top: 5rem;
    margin: 0 9rem;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 0.5rem gs.$main-color;
    padding: 4rem;
    border-radius: 0.75rem;
    max-height: 80vh;
    display: flex;
    gap: 2rem;
    animation: showAboutMe 1s forwards;

    @include gs.display(large) {
        margin: 0 2rem;
        z-index: 1;
    }

    @include gs.display(medium) {
        flex-direction: column;
    }

    @include gs.display(small) {
        padding: 2rem;
    }

    @media (max-height: 30rem) and (orientation: landscape) {
        top: 3rem;
        padding: 2.5rem;
        flex-direction: unset;
    }

    &__content {
        @include gs.flex(column, none, center);
        overflow: scroll;
    }

    &__photos {
        @include gs.flex(column, space-evenly, center);

        &>svg {
            font-size: 1.5rem;
            color: lightgreen;
            margin: 0.5rem 0;
            cursor: pointer;

            &:hover {
                color: gs.$main-color;
                animation: zoom 0.5s both;
            }
        }

        &>div {
            width: 12rem;
            height: 12rem;

            @media (max-height: 30rem) and (orientation: landscape) {
                width: 9rem;
                height: 9rem;
            }

            &>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.5rem;
                box-shadow: 0 0 0.5rem white;

                &:hover {
                    animation: zoom 0.5s both;
                }
            }
        }
    }
}

@keyframes showAboutMe {
    0% {
        opacity: 0;
        transform: translateY(110%);
        transition: 0.5s;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        transition: 0.5s;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}